GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT
GOOGLE_CLOUD_LOCATION=YOUR_LOCATION

GOOGLE_MAPS_GROUNDING_API_KEY=YOUR_API_KEY
ICE_CREAM_PLACES_INFO_GCS_URI=gs://ice_cream_agent/my_ice_cream_places_info.csv